<div>
  <input id="light" type="checkbox" />
  <label for="light" class="ph-duotone-flex-align-items-center">
    {{ partial "icon.html" "ph-moon-stars"}}
    {{ partial "icon.html" "ph-sun"}}
    Theme
  </label>
</div>
<div>
  <a title="Email" href="mailto:{{ .Site.Params.author.email -}}">
    {{ partial "icon.html" "ph-at"}}
  </a>
  <a title="RSS" href="/posts/index.xml" target="_blank" rel="noopener">
    {{ partial "icon.html" "ph-rss-simple"}}
  </a>
  <a title="Tags" href="/tags" target="_blank" rel="noopener">
    {{ partial "icon.html" "ph-tag"}}
  </a>
  <a title="Github" href="https://github.com/simurgh9" target="_blank" rel="noopener">
    {{ partial "icon.html" "ph-github-logo"}}
  </a>
  <a title="News" href="https://text.npr.org/" target="_blank" rel="noopener">
    {{ partial "icon.html" "ph-newspaper-clipping"}}
  </a>
  <a title="Radio" href="https://radioparadise.com/player/info/main-mix" target="_blank" rel="noopener">
    {{ partial "icon.html" "ph-radio"}}
  </a>
</div>
<div>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">
    © {{ now.Year }} {{ .Site.Params.author.name -}}
  </a>
</div>
