{{- range . -}}
  <div class="description ph-duotone-flex-align-items-center">
    <span class="beginning">
      <a href="{{ .RelPermalink }}">
        {{- partial "date.html" .Date -}}
      </a>
    </span>
    <span class="middle">
      {{ if findRE "<img[^>]*>" .Content }}
        <i class="ph-duotone ph-file-image"></i>
      {{ end }}
    </span>
    <span class="end">
      {{ if .Title }}
        {{ .Title }}
      {{ else }}
        {{ .Content | plainify | safeHTML | truncate 23 }}
      {{ end }}
    </span>
  </div>
{{- end -}}
