#aside {
  width: 20%;
  padding-top: 1ex;
  padding-bottom: var(--INDENT_Y);
  border-style: dashed;
  border-width: 0ex 0em 0ex 0.1em;
}

#aside ul,
#aside ol {
  margin-left: 2em;
}

#aside h3 {
  text-align: center;
}
