#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  border-style: dashed;
  border-width: 0em 0em 0.1em 0em;
}

#text {
  color: var(--LN);
  padding-bottom: 0.15em;
  font: 2em var(--FONT_TITLE);
}

#logo {
  height: 1em;
  padding-top: 0.15em;
  padding-right: 0.1em;
  font: 3em var(--FONT_LOGO);
}

#left { /*logo text: la tashfeen.org*/
  display: flex;
  align-items: center;
}

.convexhull { /*Make the boxes class elements tight and inline*/
  height: 1.3em;
  display: inline-flex;
  align-items: center;
}
