#header {
  display: flex;
  align-items: center;
  border-style: dashed;
  padding: 0em 0em 1em 0em;
  border-width: 0em 0em 0.1em 0em;
}

#text {
  display: flex;
  flex-grow: 1;
  color: #FF6732;
  align-items: center;
  justify-content: space-between;
  font: 2em Latin Modern Roman Dunhill, Ariel, Helvetica, sans-serif;;
}

#logo {
  font: 3em Nafees Nastaleeq;
}
