#mdpage {
  display: flex;
  justify-content: space-between;
}

#mdpage #main {
  width: 80%;  /*This should be (100 - #asside.width) in aside.css*/
  padding: 0.4em 1em 1em 0em;
  list-style-position: inside;
}

#mdpage #main table {
  border-collapse: collapse;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#mdpage #main table, th, td {
  border: 1px solid rgba(255, 202, 0, 0.1);
  padding: 0.1em 1em 0.1em 1em;
}

#mdpage #main hr {
  border-color: rgba(255, 202, 0, 0.1);
}

#mdpage #main img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


#mdpage #main h1,
#mdpage #main h2,
#mdpage #main h3,
#mdpage #main h4,
#mdpage #main h5,
#mdpage #main h6 {
  padding-bottom: 0.3em;
}

#mdpage #main ul,
#mdpage #main ol {
  padding: 0.5em 1em 0.5em 2em;
}

#mdpage #main:lang(ur) {
  /* since we don't expect asides in Urdu,
   * we don't need to set width as
   * (100 - #asside.width) in aside.css
   */
  width: 100%;
  font: 1.6em Noori;
  padding: 0.4em 0em 1em 1em;
}

#mdpage #main h1:lang(ur),
#mdpage #main h2:lang(ur),
#mdpage #main h3:lang(ur),
#mdpage #main h4:lang(ur),
#mdpage #main h5:lang(ur),
#mdpage #main h6:lang(ur) {
  /* text-align: center; */
  font-weight: normal;
  padding: 0.3em 0em 0em 0em;
}

#mdpage #main ul:lang(ur),
#mdpage #main ol:lang(ur) {
  padding: 0.5em 2em 0.5em 1em;
}
