@media only screen and (max-width: 750px) {
  body #header {
    font-size: 3.5vw;
    justify-content: center;
  }
  
  body #header #text {
    flex-grow: 0;
    line-height: 1.4;
    align-items: flex-start;
    flex-direction: column;
  }

  body {
    font-size: 2.5vw; /* Consistent fonts sizes in phones */
    margin: 0.5em 2em 0.5em 2em;
  }

  body #mdpage {
    flex-direction: column;
  }
  
  body #mdpage * :not(h1):not(h2):not(h3):not(h4):not(h5):not(h5){
    font-size: 3.5vw;
  }

  body #mdpage #main {
    width: 100%;
  }
  
  body #aside {
    /* display: none; */
    width: 100%;
    border-width: 0.1em 0em 0em 0em;
  }
}
