/* CSS for exclusively Urdu pages in mobiles is in urdu.css */
@media only screen and (max-width: 750px) {
  :root {
    --INDENT_X: 2em; /*primary margin indent in mobiles*/
  }

  body {
    margin: 0.5em 1em 0.5em 1em;
  }

  body #page {
    flex-direction: column;
  }
  
  body #header {
    font-size: 4.5vw;
    flex-direction: column;
    padding-bottom: 1em;
  }

  body #header #left {
    padding-right: 2em;
  }
  
  body #header #logo {
    padding-top: 0.9em;
  }

  body #header #nav {
    padding-left: 3.7em;
  }
  
  body #page #main {
    width: 100%;
    font-size: 1.2em;
  }

  body #page #main h1 {
    font-size: 1.4em;
  }
  
  body #page #aside {
    /* display: none; */
    width: 100%;
    border-width: 0.1em 0em 0em 0em;
  }
  
  body #page #main th,
  body #page #main td {
    padding: 0.1em 0.3em 0.1em 0.3em;
  }
}
