#nav {
  margin-right: -1.5em;
}

#nav a {
  font: 1em var(--FONT_EN);
  margin-right: 1.5em; /*must be -1*#nav.margin-right*/
}

@media (hover: hover) { /* solves sticky problem on touch devices */
  #nav a:hover {
    font: bold 1.01em var(--FONT_EN);
  }
}

.active{ /* should always be the same as "a:hover" in frame.css */
  color: var(--HV);
  border-style: solid;
  border-color: var(--LN);
  border-width: 0em 0em 0.1em 0em;
}
