#resume {
  margin: var(--INDENT_Y) 0.3em var(--INDENT_Y) 0em;
}

#resume-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--INDENT_Y);
  justify-content: space-between;
}

#resume-section-title {
  color: var(--LN);
  font-family: var(--FONT_TITLE);
}

#resume hr {
  border-color: var(--DM);
}

#resume-button-space {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#resume-button-space button {
  color: var(--LN);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--FONT_EN);
}

@media (hover: hover) { /* solves sticky problem on touch devices */
  #resume-button-space button:hover {
    color: var(--HV);
    border-style: solid;
    border-color: var(--LN);
    border-width: 0ex 0em 0.2ex 0em;
  }
}

.entry {
  display: flex;
  align-items: center;
  margin: 0.3ex 1em 0ex 1em;
  justify-content: space-between;
}

.right-align {
  text-align: right;
}

.resume-list {
  font-size: 0.8em;
  margin: 0ex var(--INDENT_X) 0ex var(--INDENT_X);
}
