:root {
  --FG: #DFDFDF; /*foreground*/
  --BG: #282C34; /*background*/
  --LN: #DD8844; /*link*/
  --HV: #ECBE7B; /*hover*/
  --BD: #A9A1E1; /*border*/
  --DM: rgba(169, 161, 225, 0.1); /*dimmed border*/
  --INDENT_X: 4em; /*primary margin indent*/ /*This is 0.65*4=2.6 for Noori*/
  --INDENT_Y: 2ex; /*primary block indent*/
  --FONT_EN: helvetica, ariel, sans-serif;
  --FONT_EN_FX: monospace;
  --FONT_UR: noori, scheherazade, helvetica, ariel, sans-serif;
  --FONT_TITLE: dunhill, scheherazade, serif;
  --FONT_LOGO: scheherazade, noori, serif;
}
