<!doctype html>
<html lang="en-GB">
  <style>
    body {
      margin: 0 auto;
      max-width: 50em;
      color: #DFDFDF;
      background-color: #282C34;
      font: 16px helvetica, arial, sans-serif;
    } header, footer {
      text-align: center;
    } header h1 {
      margin: 0 0 0.3ex 0;
      font: 6ex garamond, serif;
    } header nav ul {
      margin: 0;
      padding: 0;
    } header nav ul li {
      display: inline-block;
    } a {
      color: #DD8844;
      text-decoration: none;
    } 
  </style>
  <head><title>tashfeen.org</title></head>
  <body>
    <header>
      <h1><a href="/raw/home">tashfeen.org</a></h1>
      <nav>
        <ul>
          <li>[ <a href="/raw/home">Home</a> ]</li>
          <li>[ <a href="/raw/pdfs/resume_tashfeen.pdf">Résumé</a> ]</li>
          <li>[ <a href="/raw/colophon">Colophon</a> ]</li>
        </ul>
      </nav>
    </header>
    <hr>
    <div class="content">{{ content }}</div>
    <footer>
        Copyright © 2020 Tashfeen
    </footer>
  </body>
</html>
